/day9/homework/node-app/.env
node_modules
/day11/homework/express/node_modules
/package-lock.json
/day12/homework/node_modules
/day12/homework/.env
/day13/homework/.env
/day13/homework/node_modules
/day13/homework/.gitignore
/day18/homework/repositories/node_modules
/day18/homework/repositories/.env
/day18/homework/repositories/.gitignore
/day18/homework/repositories-caching/.gitignore
/day19/homework/node_modules
/day19/homework/.gitignore
