/day9/homework/node-app/.env
node_modules
/day11/homework/express/node_modules
/package-lock.json
/day12/homework/node_modules
/day12/homework/.env
/day13/homework/.env
/day13/homework/node_modules
/day13/homework/.gitignore
